<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <!--[if lt IE 9]>
    <script type="text/javascript" src="/public/admin/lib/html5shiv.js"></script>
    <script type="text/javascript" src="/public/admin/lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/public/admin/static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/admin/static/h-ui.admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="/public/admin/lib/Hui-iconfont/1.0.8/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="/public/admin/static/h-ui.admin/skin/green/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="/public/admin/static/h-ui.admin/css/style.css" />
    <!--[if IE 6]>
    <script type="text/javascript" src="/public/admin/lib/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title> </title>
</head>
<body>



<section >
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 成绩统计 <span class="c-gray en">&gt;</span> <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
    <div class="Hui-article">
        <article class="cl pd-20">

            <div class="text-c">
                <form action="{:url('statistics/index')}" method="post" class="form form-horizontal" id="form-admin-add">
                    <select class="select" style="width: 300px" name="com" size="1">
                        <option value="1"></option>
                    </select>
                    <button type="submit" class="btn btn-success" name="submit_test"><i class="Hui-iconfont">&#xe665;</i> </button>
                </form>
            </div>
            <div class="text-c">

            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th >年级排名</th>
                        <th >姓名</th>
                        <th >班级</th>
                        <th >选修</th>
                        <th >必修</th>
                        <th >总分</th>


                    </tr>
                    </thead>
                    <tbody>
                    {php}$a = $current_page*20+1 ;{/php}
                    {php}echo $a; $a++;{/php}
                    {}
                    {volist name="list" id="vo" }
                    <tr class="text-c">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>


                    </tr>
                    {/volist}
                    </tbody>
                </table>
            </div>
        </article>
    </div>
</section>
<div class="cl pd-5 bg-1 bk-gray mt-20">
    <span class="l">
        <a href="{:url('result/index')}?page={$current_page-1}$current_page"  class="btn btn-primary radius">
        <i class="Hui-iconfont">&#xe6db;</i> 上一页</a>
    </span>
    <span ><center> 当前{$current_page}页 /总{$last_page}页面</center></span>
    <span class="r"> <a href="{:url('result/index')}?page={$current_page+1}"  class="btn btn-primary radius">
       下一页  <i class="Hui-iconfont">&#xe6e3;</i> </a></span> </div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="/public/admin/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/admin/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="/public/admin/static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="/public/admin/static/h-ui.admin/js/H-ui.admin.js"></script>
<script>
    function myselfinfo(){
        layer_show('修改密码','{:url("user/index")}','800','500');
    }
</script>
</body>
</html>
