<!--_menu 作为公共模版分离出去-->
<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">
        <dl id="menu-article">
            <a   data-href="{:url('Xmsq/index')}" data-title="项目申请">
                <dt><i class="Hui-iconfont">&#xe616;</i> 项目申请 </dt>
            </a>
        </dl>
        <dl id="menu-admin">
            <a   data-href="{:url('Result/index')}" data-title="申请结果">
                <dt><i class="Hui-iconfont">&#xe62d;</i> 申请结果 </dt>
            </a>

        </dl>
        <dl id="menu-tongji">
            <a   data-href=" {:url('Statistics/index')}" data-title="成绩统计">
                <dt><i class="Hui-iconfont">&#xe61a;</i> 成绩统计 </dt>
            </a>
        </dl>
    </div>
</aside>
